body {
  margin-left: 2em;
  margin-right: 2em;
  background-color: #edeacc;
  font-family: Times New Roman;
}

h1 {
  font-size: 4em;
}

img {
  box-shadow: 10px 10px 5px #999999;
  margin-bottom: 2em;
}
