body  {
  background: #ccc;
  font-family: Helvetica;
}

.container {
  margin: 0 auto;
  width: 700px;
  background: #fff url('oniondip.jpg') no-repeat top center;
  padding-top: 200px;
  border-top: 10px solid #424242;
}

article {
  padding: 20px;

  background: #fff;
}

.recipe {
  line-height: 1.25em;
}

.recipe p {
  padding: 1em;
  background-color: #ddd;
  border: 2px solid;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #888888;
}

.recipe ul, .recipe ol {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #ddd;
  border: 2px solid;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #888888;
}

.recipe ul {
  list-style-type: circle;
}

.recipe a {
  color: #aa0000;
}
.recipe a:hover {
  color: #000051;
}
